const Discord = require('discord.js');
const client = new Discord.Client();

function commandIs(str, msg) {
  return msg.content.toLowerCase().startsWith("!" + str);
}

client.on('ready', () => {
  console.log(`Logged in as ${client.user.username}!`);
});

client.on('message', message => {
  var args = message.content.split(/[ ]+/);
  if (commandIs("hello", message)) {
    message.channel.sendMessage('Hello there,' + message.author.username);
}  
  if (commandIs("staff", message)) {
  message.channel.sendEmbed({
    color: 2447003, title: "Server Staff", fields: [{ name: "GTACriminals", value: "*Meet the staff members of this server*" },
    { name: "Leaders", value: "*StonerSeal, Sticky*" },
    { name: "Admins", value: "*none*" },
    { name: "Droppers", value: "*Indy*" },
    { name: "Chat Admins", value: "*✠Lakita Skylight✠*" },
    { name: "Devs", value: "*Indy*, *StonerSeal*" },
    { name: "Bots", value: "*Ethan*, *Chat Cop*" },
    { name: "Tournament Winners", value: "*none*" },
    { name: "Server created by", value: "*Sτιcκy*" },
    { name: "You want to become a staff? Read #server_promotions to see if you meet the requirements to become one", value: "­­" }]
  });
}
if (commandIs("prom", message)) {
  message.channel.sendEmbed({
    color: 2447003, title: "Staff Requirements", fields: [{ name: "Dev", value: "*You need to know at least node.js and the basics of making a discord bot* " },
    { name: "Admin", value: "*You need to know how to set up permissions,manage channels,etc*\n*Abusing kick, ban commands will result in demote/ban*" },
    { name: "Chat Admin", value: "*You need to delete spam, innapropriate words and mute people that do not behave*\n*Abusing mute command will result in a demote/ban*­­" },
    { name: "Dropper ", value: "*To become one you'll need to send us a screenshot of your mod menu.*\n*Menu should be strictly PREMIUM!!*­­" },
    { name: "Active Member ", value: "*You simply have to be active!*­­" },
    { name: "For more information contact an Admin", value: "­­" }]
  });
}
});

client.login('MzA5NDE4NTI1NDgxNzYyODI2.C-vIBw.e8LM5x3XY6LaEjiGkHerVGATU9o');
